.main section {
    background: linear-gradient(#f2f2f2, #fafafa);;
}

.title {
    padding: 2em 0 1em;
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.recommend {
    display: block;
    width: 36rem;
    height: 14.4rem;
}

.recommend + .recommend {
    margin-left: 1.5rem;
}

